### Task 1,2,3 solutions -

In [4]:
# Task 1- 
# Q 1 . Print the given strings - 
print('Data',end='-')
print('Science',end='-')
print('Mentorship',end='-')
print('Program',end='-')
print('By',end='-')
print('CampusX')

Data-Science-Mentorship-Program-By-CampusX

In [ ]:
# print("Data Science Mentorship Program By CampusX",sep='/') - wrong use of separator
print('Data','Science','Mentorship','Program','By','CampusX',sep='-') # Correct code

Data-Science-Mentorship-Program-By-CampusX

In [8]:
# Q2. Convert Celsius into Fahrenheit - 
cel = int(input("Enter the temperature in Celsius:"))
fah = (cel*9/5) + 32
print(fah)

80.6

In [12]:
# Q3. Swap two numbers -
a = int(input("Enter the first number:")) # 5
b = int(input("Enter the second number:")) # 6
a = a+b # 11
b = a-b # 5
a = a-b 
print(a,b)

6 5

In [13]:
# Q4. Simple Interest Program -
pr = int(input("Enter the principal:"))
r = int(input("Enter the rate of interest:"))
t = int(input("Enter the time interval:"))
si = (pr*r*t)/100
print(si)

72.0

In [16]:
# Q7. Sum of Squares of first N natural numbers - 
n = int(input("Enter the number:"))
total = 0
for i in range(1,n+1):
    total+=i*i
print(total)

30

In [17]:
# Taking inputs for the first fraction
num1 = int(input("Enter numerator of first fraction: "))
den1 = int(input("Enter denominator of first fraction: "))

# Taking inputs for the second fraction
num2 = int(input("Enter numerator of second fraction: "))
den2 = int(input("Enter denominator of second fraction: "))

sum_num = num1 * den2 + num2 * den1
sum_den = den1 * den2

# Reducing the fraction to simplest form
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

common_factor = gcd(sum_num, sum_den)
sum_num = sum_num // common_factor
sum_den = sum_den // common_factor

print(f"The sum of the two fractions is: {sum_num}/{sum_den}")

The sum of the two fractions is: 4/3

In [2]:
# Armstrong number program - 153 - 1*1*1+5*5*5+3*3*3 = 153
num = int(input('Enter the number:'))
temp = num
cubesum=0
while (temp!=0):
    r = temp%10
    cubesum+=r*r*r
    temp = temp//10

if(cubesum==num):
    print('Armstrong Number')
else:
    print('Not a Armstrong Number')

Armstrong Number

In [3]:
# Print Prime Numbers Present Between the Intervals -
low = int(input('Enter the starting range of the number:'))
high = int(input('Enter the ending range of the number:'))
res = []
for  i in range(low,high+1):
    if i%2==0:
        continue
    else:
        res.append(i)
print(res)

[3, 5]

In [7]:
# Cube Sum of first N Natural Numbers - 
n = int(input('Enter the number till the cube sum wants to print:'))
cubesum=0
for i in range(1,n+1):
    cubesum+=i**3
print(cubesum)

225

In [ ]:
# sum of elements present in the array-
arr = [12,34,56,78]
sum = 0
for i in arr:
    sum+=i

print(sum)

180

In [9]:
arr = [12,34,56,78,90]
largest = arr[0]
for i in arr:
    if largest<i:
        largest = i
print(largest)

90

In [10]:
# Interchange the first and last element in the list - 
mylist = [12,25,32,16]
mylist[0],mylist[-1] = mylist[-1],mylist[0]
print(mylist)

[16, 25, 32, 12]

In [11]:
# swap two elements in the list - 
a = [12,3,4,56,7,8]
temp = a[2]
a[2] = a[4]
a[4] = temp 
print(a)

[12, 3, 7, 56, 4, 8]

In [15]:
# check if an element present in the list - 
L = [12,3,4,5,6,7,8]
element = int(input('Enter the element to find in the list:'))
for i in L:
    if i==element:
        print('Element present in the list')
        break

Element present in the list

In [16]:
# sum of elements in the list - 
L = [12,23,45]
sum=0
for i in L:
    sum+=i
print(sum)

80

In [17]:
# Print even numbers in the list and odd numbers in a list - 
L = [2,4,3,5,8,9,23,78,67]
even_list = []
odd_list = []
for i in L:
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)
print(even_list)
print(odd_list)

[2, 4, 8, 78]
[3, 5, 9, 23, 67]

In [ ]:
# reverse list - 
# Way 1 - List Slicing
a = [1,4,5,6,7,8]
rev = a[::-1]
print(rev)

# Way 2 - reverse()
reve = a.reverse()
print(reve)

# Way 3 -

[8, 7, 6, 5, 4, 1]
None